<div class="row">
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Awesome Artists
      </div>
      <div class="panel-body">

        <% @artists.each do |artist| %>
         <div class="row">
          <div class="col-md-7">
            <%= image_tag artist.photos[0].image.thumbnail_small %>
            <h5><%= link_to artist.name, artist_path(artist.id) %></h5>
            <br>
          </div>
        </div>
        <% end %>
        <br/>

      </div>
    </div>

    <span>
      <%= sortable 'name', "Order by name" %>
    </span>
    <br/>
    <span>
      <%= sortable 'created_at', "Order by date created" %>
    </span>

  </div>
</div>
